* {
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather' , serif;
    color: rgb(19, 19, 39);
}
form {
    background-color: rgb(215, 240, 248);
    padding: 20px;
}

hr {
    margin: 0;
    border: none;
    color: rgb(19, 19, 39);
    background-color: white;

}

h1 {
    font-size: 20px;
    padding: 30px;
    background-color: rgb(19, 19, 39);
    color: white;
    margin-top: 0;
}

h2 {
    font-size: 20px;
    text-align: center;
    margin: 60px 0 5px 0;
}

fieldset {
    border: 0;
}

select {
    border: none;
    outline: none;
}

textarea {
    width: 100%;
    height: 100px;
    background-color: #e8eeef;
    border: none;
    border-radius: 5px;
}

footer {
    text-align: center;
    font-size: 13px;
    padding: 10px;
}

footer p {
    margin-top: 25px;
}

.line3 {
    border: 1px solid black;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.line2 {
    border: 1px solid black;
    border-left: 0;
    border-right: 0;

}

.line1 {
    border-top: 3px solid black;
    border-left: 0;
    border-right: 0;
    padding: 1px;
}

.info {
    padding: 20px;
    padding-top: 45px;
    padding-left: 0;
    font-size: 20px;
    font-weight: 900;
}

.primary {
    border-top: 0;
}

.primary input {
    width: 100%;
    font-size: 15px;
    background-color: #e8eeef;
    border: none;
    height: auto;
    margin: 0;
    margin-bottom: 20px;
    margin-top: 10px;
    outline: 0;
    padding: 15px;
    border-radius: 5px;
}

.primary select {
    height: 50px;
    width: 100%;
    border: none;
    margin-bottom: 20px;
    margin-top: 10px;
    background-color: #e8eeef;
    color: rgb(120, 120, 120);
}

.primary label {
    display: inline-block;
}

input[name="zip"] {
    width: 50%;
}

.state {
    display: block; 
}

.header {
    text-align: center;
}

.head-par {
    font-size: 15px;
    color: rgb(172, 171, 171);
    padding-bottom: 20px;
    margin-bottom: 25px;
}

.contact,
.news {
    padding: 20px;
    padding-left: 0;
    font-size: 20px;
    font-weight: 900;
    
}

#zip {
    width: 50%;
}

.secondary label:not([for="topics"]) {
    padding: 15px;
    line-height: 30px;
}

label[for="topics"] {
    display: block;
    padding-bottom: 15px;
}

input[type="submit"] {
    width: 90%;
    color: white;
    height: 60px;
    border-radius: 5px;
    background-color: rgb(31, 163, 150);
}

.button {
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
}

::placeholder {
    font-style: italic;
    text-align: right;
    padding-right: 5px;

}

input:focus,
select:focus,
textarea:focus {
    border: 5px solid lightblue;
    background-color: rgb(191, 209, 214);
}

/* Media Queries */

@media (min-width: 768px) {
    .container {
        width: 60%;
        margin: 0 auto;
    }
    #submit {
        width: 95%;
    }
    #zip {
        width: 30%;
    }
    .primary label {
        float: left;
        width: 40%;
        text-align: left;
        padding-right: 10px;
        padding-top: 1em;
        margin: 5px 0px 5px 0px;
    }
    .primary input,
    .primary select {
        width: 60%;
        margin: 5px 0px 5px 0px;
    }
    
    

    
    
}